{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block titleinfo %}

    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <i class="home-icon blue"> SSL设置</i>
        </ul>
    </div>

{% endblock %}
{% block webinfo %}
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">SSL设置</h3>
                    </div>

                    <div class="box-body">
                        <div class="row">

                            <div class="col-xs-5">
                                <label>SSL证书上传</label>
                                <form id="uploadForm_cert" enctype="multipart/form-data">
                                    <input id="file" type="file" name="cert_file"/>
                                </form>
                                <button class="btn btn-info pull-right btn-sm" id="cert_upload">上传</button>
                            </div>
                            <div class="col-lg-5">
                                <label>SSL密钥</label>
                                <form id="uploadForm_key" enctype="multipart/form-data">
                                    <input id="file" type="file" name="key_file"/>
                                </form>
                                <button class="btn btn-info pull-right btn-sm" id="key_upload">上传</button>

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                {#        漏洞扫描配置界面结束#}


            </div><!-- #main-widget-container -->
        </div>
        {% block js %}
            <script>
                jQuery(function ($) {
                    $("#cert_upload").click(function () {
                        var formData = new FormData($('#uploadForm_cert')[0]);
                        $.ajax({
                            type: 'post',
                            url: "/cert_upload",
                            data: formData,
                            cache: false,
                            processData: false,
                            contentType: false,
                        }).success(function () {
                            alert("SSL证书上传成功");
                        }).error(function () {
                            alert("SSL证书上传失败");
                        });
                    });
                    $("#key_upload").click(function () {
                        var formData = new FormData($('#uploadForm_key')[0]);
                        $.ajax({
                            type: 'post',
                            url: "/key_upload",
                            data: formData,
                            cache: false,
                            processData: false,
                            contentType: false,
                        }).success(function () {
                            alert("SSL密钥上传成功");
                        }).error(function () {
                            alert("SSL密钥上传失败");
                        });
                    });

                });


            </script>
            <script src="static/assets/js/bootstrap-timepicker.js"></script>

        {% endblock %}

{% endblock %}