{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="static/assets/dash/AdminLTE.min.css"/>
<script src="static/assets/css/bootstrap-timepicker.css"></script>
{% endblock %}

{% block titleinfo %}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <i class="home-icon blue"> 服务器信息 </i>
    </ul>
</div>

{% endblock %}

{% block webinfo %}
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">{{item.local_ip}} 详细信息</h3>
                </div>

                <div class="main">

                    <table style="table-layout:fixed;" rules=rows cellspacing=0 align=left>
                        <thead>
                        <tr>
                            <th style="width:115px;;background-color:#f1f1f1;">项目</th>
                            <th style="background-color:#f1f1f1;">内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>服务器名称</b></td>
                            <td>
                                <strong style="color:orange">{{item.server_name}} </strong></td>
                        </tr>

                        <tr>
                            <td><b>服务器类型</b></td>
                            <td>
                                {{item.server_type}}
                            </td>
                        </tr>

                        <tr class="text_tips" rel="desc字段，点此查看规则">
                            <td><b>部署状态</b></td>
                            <td>
                                {{item.deployment_type}}
                            </td>
                        </tr>

                        <tr class="text_tips" rel="reason字段">
                            <td><b>服务器操作系统</b></td>
                            <td>{{item.server_os}}</td>
                        </tr>

                        <tr>
                            <td><b>创建时间</b></td>
                            <td>{{item.first_time}}</td>
                        </tr>

                        <tr>
                            <td><b>上次更新时间</b></td>
                            <td>{{item.update_time}}</td>
                        </tr>


                        <tr>
                            <td><b>来源IP</b></td>
                            <td>10.8.16.4:51218</td>
                        </tr>
                        <tr>
                            <td><b>局域网ip</b></td>
                            <td><font color="orange"><b>{{item.local_ip}} &nbsp;&nbsp;</b></font></td>
                        </tr>

                        <tr>
                            <td><b>局域网开放端口</b></td>
                            <td>{{item.local_port}} &nbsp;&nbsp;</td>
                        </tr>

                        <tr>
                            <td><b>公网ip</b></td>
                            <td><font color="orange"><b>
                                {% if item.global_ip == None %}
                                暂无
                                {%else%}
                                {{item.global_ip}}
                                {%endif%}</b></font>
                            </td>
                        </tr>
                        <tr>
                            <td><b>公网开放端口</b></td>
                            <td>{{item.global_port}} &nbsp;&nbsp;</td>
                        </tr>

                        <tr class="text_tips" rel="protocal字段">
                            <td><b>网卡mac地址</b></td>
                            <td>{{item.eth1_mac}}</td>
                        </tr>

                        <tr class="text_tips" rel="protocal字段">
                            <td><b>网卡mac地址</b></td>
                            <td>{{item.eth1_mac}}</td>
                        </tr>

                        <tr class="text_tips" rel="code字段">
                            <td><b>是否存活</b></td>
                            <td>
                                {% if item.isAlive %}
                                存活
                                {%else%}
                                离线
                                {%endif%}
                            </td>
                        </tr>

                        <tr class="text_tips" rel="dev字段">
                            <td><b>服务器管理负责人</b></td>
                            <td>{{item.manager}}</td>
                        </tr>
                        <tr class="text_tips" rel="dev字段">
                            <td><b>负责人电话</b></td>
                            <td>{{item.manager_phone}}</td>
                        </tr>
                        <tr class="text_tips" rel="dev字段">
                            <td><b>负责人邮箱</b></td>
                            <td>{{item.manager_email}}</td>
                        </tr>
                        <tr class="text_tips" rel="dev字段">
                            <td><b>服务器运维人员</b></td>
                            <td>{% if item.maintainer == None %}
                                暂无
                                {%else%}
                                {{item.maintainer}}
                                {%endif%}</td>
                        </tr>
                        <tr class="text_tips" rel="dev字段">
                            <td><b>运维人员电话</b></td>
                            <td>{% if item.maintainer_phone == None %}
                                暂无
                                {%else%}
                                {{item.maintainer_phone}}
                                {%endif%}</td>
                        </tr>
                        <tr class="text_tips" rel="dev字段">
                            <td><b>运维人员邮箱</b></td>
                            <td>{% if item.maintainer_email == None %}
                                暂无
                                {%else%}
                                {{item.maintainer_email}}
                                {%endif%}</td>
                        </tr>

                        <tr>
                            <td><b>服务器配置信息</b></td>
                            <td>
                                <div><textarea rows="5" cols="130">{% if item.configuration == None %}

                                {%else%}
                                {{item.configuration}}
                                {%endif%}</textarea></div>
                            </td>
                        </tr>

                        <tr>
                            <td><b>服务器开放服务</b></td>
                            <td>
                                <div><textarea rows="5" cols="130">{{item.service}}</textarea></div>
                            </td>
                        </tr>

                        <tr>
                            <td><b>资产备注或描述</b></td>
                            <td>
                                <div><textarea rows="5" cols="130">{% if item.desc == None %}

                                {%else%}
                                {{item.desc}}
                                {%endif%}</textarea></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    {# 端口扫描配置界面结束#}
    {# 子域名扫描配置界面开始#}
    <!--<div class="col-xs-6">-->
    <!--<div class="box box-info">-->
    <!--<div class="box-header with-border">-->
    <!--<h3 class="box-title">子域名扫描设置</h3>-->
    <!--</div>-->

    <!--<div class="box-body">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<label>扫描字典配置:</label>-->
    <!--<textarea class="form-control" rows="8" id="subdomain_dict"></textarea>-->
    <!--<hr>-->
    <!--</div>-->

    <!--<div class="col-xs-12">-->
    <!--<button class="btn btn-info pull-right btn-sm" id="subdomain_config">提交更新</button>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    {# 子域名扫描配置界面结束#}
    {# 漏洞扫描配置界面开始#}
    <!--<div class="col-xs-6">-->
    <!--<div class="box box-success">-->
    <!--<div class="box-header with-border">-->
    <!--<h3 class="box-title">漏洞扫描设置</h3>-->
    <!--</div>-->

    <!--<div class="box-body">-->
    <!--<div class="row">-->

    <!--<div class="col-xs-5">-->
    <!--<label>任务检测频率:</label>-->
    <!--<input type="text" class="form-control" name="scanner_time" value="123" id="scanner_time" />-->
    <!--</div>-->
    <!--<div class="col-xs-5">-->
    <!--<label>扫描线程:</label>-->
    <!--<input type="text" class="form-control" name="scanner_thread" value="123" id="scanner_thread" />-->
    <!--</div>-->

    <!--<div class="col-xs-12">-->
    <!--<hr>-->
    <!--<button class="btn btn-info pull-right btn-sm" id="scanner_config">提交更新</button>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    {# 漏洞扫描配置界面结束#}


</div><!-- #main-widget-container -->
</div>

{% block js %}
<script src="static/assets/js/bootstrap-timepicker.js"></script>
{% endblock %}

{% endblock %}